.container {
    position: relative;
    top: 30px;
    display: flex;
    margin: 0 auto;
    width: 400px;
    height: 700px;
    border: 2px solid #a9a9a9;
    flex-direction: column;
}
.chat-info {
    border-bottom: 2px solid #a9a9a9;
    width: 100%;
    height: 50px;
}
.message-display {
    border-bottom: 2px solid #a9a9a9;
    width: 100%;
    height: 550px;
    overflow: auto;
}
.notice {
    text-align: center;
}
.message {
    position: relative;
    left: 0.2rem;
    right: auto;
    width: fit-content;
    margin: 0.2rem;
}
.message .profile {
    font-weight: bold;
}
.message-input {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
}
.text-area {
    width: 75%;
    border-right: 2px solid #a9a9a9;
    display: flex;
    justify-content: center;
    align-items: center;
}
textarea {
    width: 95%;
    height: 90%;
    padding: 0;
    border: none;
    resize: none;
    outline: none;
    font-size: 1.2rem;
}
.submit-area {
    width: 25%;
}
.submit-text {
    width: 100%;
    height: 100%;
    font-size: 1.3rem;
    border: none;
}
.popup {
    display: none;
}
.popup.on {
    position: fixed;
    width: 200px;
    height: 50px;
    display: flex;
    top: 30%;
    left: 40%;
    box-shadow : rgba(0,0,0,0.5) 0 0 0 9999px;
    z-index : 100;
}
.popup .name {
    font-size: 1.2rem;
    width: 150px;
}
