.container {
    width: 60%;
}
.header {
    font-size: 45px;
    font-weight: bold;
}

.footer {
    color: #595959;
}

.author, .contact {
    margin-left: 8px;
}

.e-mail {
    margin-left: 5px;
}

.dynamic-body {
    width: 100%;
}

.quiz-number {
    font-weight: bold;
    font-size: 30px;
    color: #595959;
    margin-right: 5px;
}

.quiz-content {
    font-weight: bold;
    font-size: 20px;
    color: #595959;
}

.choice {
    margin: 5px;
    width: 100%;
}

.button-area {
    text-align: center;
}

button {
    display: inline-block;
    width: 100px;
    margin: 5px;
}